# SPDX-License-Identifier: Apache-2.0

# Enable MPU
CONFIG_ARM_MPU=y

# enable GPIO
CONFIG_GPIO=y

# enable uart driver
CONFIG_SERIAL=y

# enable console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# Manage External flash:
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y
CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NORDIC_QSPI_NOR=y

# Enable SPI dedicated to Artic
CONFIG_SPI=y

# Enable I2C for sensors
CONFIG_I2C=y

CONFIG_SENSOR=y
CONFIG_SENSOR_ASYNC_API=y
#CONFIG_DT_HAS_BOSCH_BMA4XX_ENABLED=y
CONFIG_BMA4XX=y